version: 2

references:
  ubuntu_deps: &ubuntu_deps
    run:
      name: Install dependencies on Ubuntu.
      command: |
        apt-get update -qy
        apt-get install -y git python3-dev python3-pip curl

  doc: &doc
    run:
      name: index.html-exists
      command: |
        test -f index.html

jobs:

  test_ubuntu_latest:
    docker:
      - image: ubuntu:latest
    working_directory: ~/cxflow-tensorflow
    steps:
      - *ubuntu_deps
      - checkout
      - *doc

workflows:

  version: 2
  test-doc-exists:
    jobs:
      - test_ubuntu_latest
